.App {
  text-align: center;
  color: #ffffff;
  background-color: #1A1B21;
  width: 350px;
  height: 650px;
  border-radius: 0.5em;
  margin: 3em 0 0 0;
}

img {
  height: 317px;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  height:25.81px;
  line-height: 30.26px;
  font-weight: 700;
}

.role {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  color: #F3BF99;
}

button {
  padding:0.2em 2em;
  margin: 1em 6em;
}




















@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
